<ion-view>
  <ion-content ng-controller="AdCrtl">
    <div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Title" ng-model="adTitle">
      </label>
      <button ng-click="getAdByTitle()">Get Ad</button>
    </div>

    <div class="card responsive-card" ng-repeat="ad in adTitleData">
      <div class="item item-divider">
        {{ad.adTitle}}
      </div>
      <div class="item item-text-wrap">
        {{ad.adDescription}}
      </div>
    </div>
  </ion-content>
</ion-view>
