<ion-view view-title="Search Ads">
  <ion-content ng-controller="AdCrtl">
    <div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Title" ng-model="adTitle">
        </label>
        <button class="button button-small" ng-click="getAdByTitle()">
          Submit
        </button>
      </div>
    </div>

    <div class="card responsive-card" ng-repeat="ad in adTitleData">
      <div class="item item-divider">
        {{ad.adTitle}}
      </div>
      <div class="item item-text-wrap">
        {{ad.adDescription}}
      </div>
      <div class="item item-divider icon-left ion-map">
        this will be the location of the ad
      </div>
    </div>
  </ion-content>
</ion-view>
